@model DinoRoot;

<h1 class="fontDesignMainHeading">Dino Facts</h1>
<h2 class="secondaryHeading">Name</h2>
<p class="paragraphsHome">@Model.Name</p>

<h2 class="secondaryHeading">Description</h2>
<p class="paragraphsHome">@Model.Description</p>


